@media (max-width: 1199px)
    .pages
        margin-bottom: 20px
@media (max-width: 991px)
    .n-news
        &__second
            height: auto
    .second-item
        margin-top: 20px
    .n-item__header
        height: 300px
@media (max-width: 767px)
    .n-news
        margin-top: 30px
    .n-item
        &__header
            height: 260px
    .second-item
        &__date
            font-size: 15px
