@media ( max-width: 1199px )
    .m-header
        &__title
            font-size: 28px
            line-height: 30px
            span
                font-size: 20px
    .m-menu
        margin-top: 0

    .short
        width: 43%
        &__list
            li
                &:last-child
                    display: none
    .vacancy
        &__item-title
            font-size: 14px

@media ( max-width: 991px )
    .m-header
        &__logo
            width: 70px
            margin-right: 4px
        &__title
            font-size: 22px
            line-height: 26px
            br
                display: block
            span
                font-size: 15px

    .m-form

    .m-menu
        a
            font-size: 12px

    .reveal__main-item
        width: 300px
        height: 192px
        .reveal__text
            font-size: 12px
    .title__devider_left:before
        width: 10px
        height: 10px
        top: -6px

    .title__devider_right:before
        width: 10px
        height: 10px
        top: -6px
@media ( max-width: 767px )
    .m-menu
        a
            font-size: 12px
