@media ( max-width: 1199px )
    .m-header
        &__title
            font-size: 28px
            line-height: 30px
            span
                font-size: 20px
    .m-menu
        margin-top: 0

    .short
        width: 43%
        &__list
            li
                &:last-child
                    display: none
    .vacancy
        &__item-title
            font-size: 14px

@media ( max-width: 991px )
    .m-header
        position: fixed
        width: 100%
        background: $m-primary
        z-index: 5
        padding: 2px 0 0
        .container
            max-width: 100%
            display: flex
            align-items: center
        &__logo
            width: 70px
            margin-right: 4px
            margin: 0 auto
        &__title
            display: none
        &__sign-in_mobile
            display: block
            width: 32px
            img
                width: 100%
    .m-humburger
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 32px
            height: 16px
            span
                z-index: 99
                width: 100%
                height: 2px
                background: #fff
                transition: 0.5s all
    .m-header__title_mobile
        padding-top: 50px
        display: block
        text-align: center
        font-size: 18px
        letter-spacing: 1px
        span
            font-size: 18px


    .m-form
        display: none

    .m-menu
        position: fixed
        width: 50%
        background: rgba(0, 0, 0, .9)
        left: -50%
        z-index: 100
        &__list
            display: flex
            flex-direction: column
            justify-content: center
            list-style-type: none
            width: 50%
            height: 100vh
        a
            font-size: 12px

    .m-news
        padding-top: 20px

    .reveal__main-item
        width: 300px
        height: 192px
        .reveal__text
            font-size: 12px
    .title__devider_left:before
        width: 10px
        height: 10px
        top: -6px

    .title__devider_right:before
        width: 10px
        height: 10px
        top: -6px
@media ( max-width: 767px )
    .m-menu
        a
            font-size: 12px
