@media ( max-width: 1199px )
    .m-header
        &__title
            font-size: 28px
            line-height: 30px
            span
                font-size: 20px
    .m-menu
        margin-top: 0

    .short
        width: 43%
        &__list
            li
                &:last-child
                    display: none
    .vacancy
        &__item-title
            font-size: 14px

@media ( max-width: 991px )
    .m-header
        position: fixed
        width: 100%
        background: $m-primary
        z-index: 5
        padding: 2px 0 0
        .container
            max-width: 100%
            display: flex
            align-items: center
        &__logo
            width: 70px
            margin-right: 4px
            margin: 0 auto
        &__title
            display: none
        &__sign-in_mobile
            display: block
            width: 28px
            img
                width: 100%
    .m-humburger
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 28px
        height: 16px
        z-index: 1000
        span
            z-index: 99
            width: 100%
            height: 2px
            background: #fff
            transition: 0.5s all
        &_active
            display: flex
            justify-content: center
            align-items: center
            span
                &:first-child
                    transform: rotate(45deg)
                &:nth-child(2)
                    display: none
                &:last-child
                    transform: rotate(-45deg)
                    margin-top: -1px
    .m-header__title_mobile
        padding-top: 50px
        display: block
        text-align: center
        font-size: 19px
        letter-spacing: 1px
        span
            font-size: 19px

    .m-form
        display: none

    .m-menu
        position: fixed
        width: 50%
        background: rgba(0, 0, 0, .9)
        left: -110%
        z-index: 100
        transition: 0.5s all
        margin-top: 48px
        &_active
            left: 0
        &__list
            display: flex
            flex-direction: column
            justify-content: space-around
            width: 100%
            height: calc( 100vh - 48px )
        a
            font-size: 18px
            color: #ffffff
            padding: 10px 25%

    .m-news
        padding-top: 20px
        &__wrapper
            flex-wrap: wrap
    .reveal
        width: 100%
        &__main-item
            width: 100%
            height: 400px
        &__text
            height: 20%
            display: flex
            align-items: center
        &__secondary
            flex-wrap: wrap
            a
                width: 100%
                &:last-child
                    display: block
        &__item_small
            display: flex
            margin-top: 20px
        &__secondary-text
            width: 100%
            background: #fff
            border-radius: 0 4px 4px 0
            font-size: 14px
        &__item_left, &__item_right
            height: 160px
        &__secondary-data
            display: none
        &__secondary-data_mobile
            font-size: 13px
            color: #E63946
    .short
        display: none
    .title__devider_left:before
        width: 10px
        height: 10px
        top: -6px

    .title__devider_right:before
        width: 10px
        height: 10px
        top: -6px
    .vacancy
        &__wrapper
            margin-top: 8px
        &__row
            flex-wrap: wrap
            margin-top: 0
        &__item
            width: 100%
            margin-top: 20px
@media ( max-width: 767px )
    .m-header
        &__title_mobile
            line-height: 1.2
    .m-menu
        a
            font-size: 12px
    .m-news
        &__wrapper
            margin-top: 20px
    .reveal
        &__main-item
            height: 350px
        &__item_left, &__item_right
            width: 40%
            height: 140px

    .m-title-box
        flex-wrap: wrap
        padding: 0
    .m-title-box__header
        width: 100%
    .m-title-box__devider_left
        display: none
    .m-title-box__devider_right
        height: 1.5px
        width: 100%
        background: linear-gradient(to right, rgba(255, 255, 255, .0), #E9C46A, rgba(255, 255, 255, .0))
        &::before
            width: 0
            height: 0
            border: none
@media ( max-width: 575px )
    .vacancy
        padding-top: 0
        &__item-descr
            font-size: 14px
        &__footer-descr
            font-size: 14px
@media ( max-width: 415px )
    .m-header
        &__title_mobile
            font-size: 18px
            line-height: 1.2
            span
                font-size: 18px
    .m-menu
        width: 60%
    .m-title-box__header
        font-size: 24px
    .reveal
        &__main-item
            height: 260px
        &__text
            height: 30%
            font-size: 14px
        &__item_left, &__item_right
            width: 60%
            height: 130px
        &__secondary-data_mobile
            font-size: 12px
        &__secondary-text
            font-size: 13px
        &__btn
            font-size: 14px
    .vacancy
        &__item-title
            font-size: 13px
        &__item-descr
            font-size: 13px
        &__wrapper
            margin-top: 0
    .m-footer
        &__icon
            display: none
        &__site-descr
            font-size: 13px
            padding: 0 8px
        &__email-text
            font-size: 13px
            padding: 0 8px
@media (max-width: 320px)
    .m-menu
        width: 80%
    .reveal
        &__main-item
            height: 220px
        &__item_left, &__item_right
            display: none
        &__secondary
            margin-top: 0
        &__secondary-text
            border-radius: 8px
